@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    font-family: 'Indie Flower';
}

body{
    background: linear-gradient(112.87deg, #abd699, #75c9b7);
}

.intro{
    color: #675D50;
    margin-top: 150px;
}

.h1{
    font-size: 50px;
    font-weight: bolder;
}

.intro p{
    font-size: x-large;
}

.footer{
    background: linear-gradient(112.87deg, #75c983, #d2d699);
    width: 100vw;
    height: 50px;
    margin-top: 120px;
}

.intro a{
    text-decoration: none;
    color: inherit;
}

.nav2ndP{
    background: linear-gradient(112.87deg, #75c983, #d2d699);
    font-weight: bolder;
}

.icon{
    width: 50px;
    height: 50px;
}

.title{
    color: #00425A;
}

#about {
    width: 50vw;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}

.about-lugaw{
    background: linear-gradient(112.87deg, #d6cd99, #75c991);
    font-weight: bold;
}

.card-title{
    font-weight: bolder;
}

#lugaw{
    margin-top: 200px;
    margin-bottom: 80px;
}

#menu{
    width: 50vw;
    margin: auto;
}

.table-striped{
    font-weight: 500;
}

.menu-container{
    background: linear-gradient(112.87deg, #c4d699, #75c987);
    border-radius: 10px;
    box-shadow: 20px 20px 17px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table{
    color: #675D50;
}

.menu-title p b{
    color: red;
    font-size: xx-large;
}

#find{
    width: 30%;
    padding-bottom: 10px;
}

.fa-facebook{
    font-size: 40px;
}

#footer {
    background-color: #A9907E;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    margin-top: 50px;
}

.follow{
    text-align: center;
}

.copy{
    text-align: center;
}

.car{
    width: 100vw;
    height: 100vh;
}

.form-check-input[type='checkbox']:checked {
    background-color: #F94A29;
    border-color: #F94A29;
}

.form-check-input{
    border-color: black;
}

.form-check-input:focus {
    border-color: #FCE22A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(115, 255, 0, 0.6);
}

.next-reset {
    margin-left: 300px;
}

.heading-order {
    margin-top: 120px;
    padding-left: 50px;
    font-weight: 1000;
    font-size: x-large;
    color: #00235B;
}

.main-checkout {
    width: 50%;
    margin: auto;
}

.head-cart {
    font-weight: bolder;
    color: #00235B;
}

.carousel{
    padding-top: 100px;
    width: 75vw;
    margin: auto;
}

.carousel-caption{
    font-weight: bolder;
    border: solid 3px;
    border-radius: 30px;
    color: black;
    background: linear-gradient(112.87deg, #FFB84C, #FDF7C3);
    padding: 10px;
}